@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/** {
    box-sizing: border-box;
}*/

:root {
    --FF: 'Roboto', 'Trebuchet MS', Cambria, Arial, sans-serif;
    --FS: 0.5rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --BGCOLOR: #FCE5CC;
        --ALTBGCOLOR: #D0ADC4;
        --COLOR: #1e0e2b;
        --ALTCOLOR: #ffffff;
        --TEXTCOLOR: #1e0e2b;
        --OTHERCOLOR: #744B93;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --DARKCOLOR: #121212;
        --ALTDARKCOLOR: #1c082d;
        --ALTTEXTCOLOR: #ffffff;
        --ALTOTHERCOLOR: #211429;
        --ALTALTBGCOLOR: #432e48;
    }
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--BGCOLOR);
    background-color: var(--DARKCOLOR);
    color: var(--COLOR);
    color: var(--ALTTEXTCOLOR);
    font-family: var(--FF);
}

main {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: var(--ALTBGCOLOR);
    background-color: var(--ALTALTBGCOLOR);
}

header {
    text-align: center;
    background-color: var(--OTHERCOLOR);
    background-color: var(--ALTOTHERCOLOR);
    color: var(--ALTCOLOR);
    font-size: 3vh;
    padding: 1vh;
    position: sticky;
    top: 0;
}

/*article {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
}*/

section {
    flex-grow: 1;
}

img {
    padding: 0.5rem;
    border-radius: 10%;
}

a {
    color: var(--TEXTCOLOR);
    text-decoration: none;
}

hr {
    padding: 0.2rem;
    background-color:#111111;
}

h2 {
    font-size: 2.2em;
    margin: 0.6rem;
}

h3 {
    font-size: 1.2rem;
    margin: 0.8rem;
}

p {
    margin: 0.8rem;
    font-size: 1.5rem;
    color: var(--TEXTCOLOR)
}

details {
    font-size: 1.5rem;
    color: var(--ALTCOLOR);
    text-shadow: 2px 2px 4px hwb(0 16% 84% / 0.8);
}

details summary {
    font-size: 2rem;
}

input,
textarea,
select {
    margin: 0.2rem;
    padding: 0;
    box-shadow: none;
    border: 0rem;
    border-radius: 5%;
    border-bottom: black;
    background-color: transparent;
    color: var(--ALTCOLOR);
    font-family: var(--FF);
    font-size: 1.2rem;
    min-width: 30vw;
    resize: none;
    field-sizing: content;
}

textarea {
    border-style: none;
    pointer-events: none;
}

textarea:focus {
    box-shadow: none;
    outline: none;
}

::placeholder {
    color: hsla(36, 14%, 93%, 0.6);
}

.heading {
    background-color: var(--COLOR);
    background-color: var(--ALTOTHERCOLOR);
    color: var(--ALTCOLOR);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    font-size: 2vh auto;
}

.heading img {
    float: right;
    width: 8vh;
    height: 8vh;
}

/* .title {
    background-color: var(--OTHERCOLOR);
    color: var(--ALTCOLOR);
    font-size: 3vh;
    padding: 1vh;
    text-align: center;
    position: sticky;
    top: 0;
} */

.center {
    text-align: center;
}

.nopadding {
    padding: 0px;
}

.button {
    background-color: var(--OTHERCOLOR);
    padding: 2rem;

}

.subheading h2 {
    background-color: var(--COLOR);
    background-color: var(--ALTDARKCOLOR);
    color: var(--ALTCOLOR);
    box-shadow: 5px 5px #332820;
    margin: 1rem;
    padding: 0.5rem;
}

.desc {
    width: 30%;
    height: 6rem;
    field-sizing: content;
    /* transform: translateY(0.5rem); */
}

.desc1 {
    width: 90%;
    field-sizing: content;
    /* transform: translateY(0.5rem); */
}

/*.labeld {
    /* position: absolute; */
/*}

/*.name {
    /* transform: translateY(0.5rem); */
/*} */

.flex1 {
    display: flex;
    align-items: flex-start;
}

.dashboard img {
    width: 100%;
    height: auto;
    width: auto\9;
    width: 20vh;
    height: 15vh;
    border-radius: 25%;
}

.fillspace {
    min-height: 80vh;
}

.line {
    margin: 0;
    padding: 1px;
    color:#29231f;
    border: 0;
}

/* #bigger {
    text-shadow: none;
    font-size: 2rem;
} */

#chapter {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#chapter textarea {
    background-color: #EFEDEA;
    border-radius: 1.5%;
    outline: none;
    border-bottom: none;
    min-height: 70vh;
    color: black;
    field-sizing: none;
}

#chapter h2 {
    font-size: 1.5rem;
}